.heroWrapper {
	transform: translateY(var(--spacing-xxlarge));
}

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 65vh;
	color: var(--text-light);
	font-family: var(--font-family);
	text-align: center;
	padding: var(--spacing-medium);
	background-color: #21212130;

	@media (max-width: 1024px) {
		min-height: 50vh;
	}

	@media (max-width: 768px) {
		min-height: 40vh;
		padding-top: var(--spacing-large);
	}

	.heroButtons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		margin-top: var(--spacing-large);
		flex-wrap: wrap;

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 1rem;
			margin-bottom: var(--spacing-medium);
		}

		.buttonPrimary {
			background-color: var(--accent-color-secondary);
			color: var(--text-light);
			text-decoration: none;
			padding: var(--spacing-medium) var(--spacing-large);
			font-size: var(--font-size-large-text);
			box-shadow: 3px 3px 3px 1px var(--bg-black-transparent);
			font-weight: var(--font-weight-bold);
		}
		.buttonSecondary {
			background-color: var(--bg-dark);
			color: var(--text-light);
			text-decoration: none;
			padding: var(--spacing-medium) var(--spacing-large);
			font-size: var(--font-size-large-text);
			box-shadow: 3px 3px 3px 1px var(--bg-black-transparent);
			font-weight: var(--font-weight-bold);
		}
	}
}

.bgImage {
	width: 110% !important;
	object-fit: cover;
}

.headline {
	font-size: var(--font-size-headline);
	font-weight: var(--font-weight-extrabold);
	margin-bottom: 20px;
	margin-top: 0;
}

.subheadline {
	font-size: 2rem;
	background-color: transparent;
}
