.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 60vh;
	color: var(--text-light);
	font-family: var(--font-family);
	text-align: center;
	padding: var(--spacing-medium);
	background-color: #21212130;
	border-bottom: var(--spacing-large) solid
		var(--accent-color-primary-highlight);

	@media (max-width: 1024px) {
		min-height: 50vh;
	}

	@media (max-width: 768px) {
		min-height: 40vh;
	}
}

.bgImage {
	width: 110% !important;
	object-fit: cover;
}

.headline {
	font-size: var(--font-size-headline);
	font-weight: var(--font-weight-extrabold);
	margin-bottom: 20px;
	margin-top: 0;
}

.subheadline {
	font-size: 2rem;
	background-color: transparent;
}
