@import './_fonts.scss';

:root {
	//colors
	--bg-light: #f5f5f5;
	--text-dark: #373737;
	--text-light: #ffffff;
	--accent-color-primary: #98781e;
	--accent-color-primary-highlight: #b4902d;
	--accent-color-primary-light: #e7b732;
	--accent-color-secondary: #682919;
	--accent-color-secondary-highlight: #9c3e26;
	--bg-dark: #212121;
	--bg-black: #1a1a1a;
	--bg-black-transparent: #00000042;

	//fonts
	--font-family: 'Proxima Nova', sans-serif;
	--font-size-small-text: 1rem;
	--font-size-medium-text: 1.15rem;
	--font-size-large-text: 1.3rem;
	--font-size-subtitle: 1.8rem;
	--font-weight-bold: 700;
	--font-size-headline: 3.5rem;
	--font-weight-extrabold: 800;

	@media (max-width: 576px) {
		--font-size-headline: 2.5rem;
	}

	@media (min-width: 577px) and (max-width: 768px) {
		--font-size-headline: 2.8rem;
	}

	@media (min-width: 769px) and (max-width: 1400px) {
		--font-size-headline: 3.2rem;
	}

	//spacing
	--spacing-small: 0.5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-xlarge: 3rem;
	--spacing-xxlarge: 4rem;
	--spacing-content: 15%;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-dark);
	color: var(--text-dark);
	font-family: var(--font-family);
	margin: 0;
	padding: 0;

	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
	font-family: var(--font-family);
}

//focus visible
:focus-visible {
	outline: 2px solid var(--accent-color-primary-light);
	outline-offset: -2px;
}
