
:root {
    --bg-light: #F5F5F5;
    --bg-dark: #212121;
    --text-dark: #373737;
    --text-light: #FFFFFF;
    --accent-color-primary: #D8AA2C;
    --accent-color-secondary: #4f1c0f;
    --font-family: 'proxima-nova', sans-serif;
    --font-weight-extrabold: 800;
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--bg-light);
    color: var(--text-dark);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}